/*! 
Name: EDX
URI: https://ondesigns.net/
Author: Donny Truong
Version: 1
*/

 // Sass Variables


$body_font: "Source Sans Pro", "Myriad Pro", "Helvetica Neue", Helvetica , Arial, sans-serif; 
$head_font: "Playfair Display","Minion Pro", Georgia, "Times New Roman", Times, serif;


$normal_weight: 400;
//$medium_weight: 500;
$bold_weight: 700;
//$extra_bold_weight:900;

$main_background_color: #fff;
$main_text_color: #444;
$link_color: #00a0e3; //blue


$link_hover: #444; 
$border_line:1px solid #f1f1f1;
$gray: #777;
$blue: #6082B6; //blue
$off_white: #f9f9f9;


$gold: #bb9065;


@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
  }

  /* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Base Rules */



body {	color:$main_text_color; 
		background-color:$main_background_color;
		font: 100%/1.3 $body_font;  
		font-weight:$normal_weight;
		text-align: left;  
		padding: 0; 
		margin:0 auto; 
		font-variant-ligatures: common-ligatures;		
		}
		

h1, h2 {font-family: $head_font;}


img, video {width: 100%; vertical-align: middle;}
img {height: auto;  }


a { color: $link_color; text-decoration:none;  }
a:visited { color: $link_color; }
a:hover { color: $link_hover; }

a {transition: all .5s ease;
	img {transition: opacity 0.2s ease-in-out;}		
	}
a:hover img { opacity: .7; }

ul, dd, ol { margin:  0; padding: 0}
ul li li, ol li li {margin: 0 0 0 1em;}


footer ul { list-style: none; list-style-image: none; margin: 0 ; padding: 0; }



/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* Mobile First */

header, .intro,  footer, .features {padding: 0 2em;}

header {margin: 1em 0; }

.logo {width: 70px; float: left;}
//.signin {width: 80px; float: right; margin: 3px 0 1.2em 0;}

a.signin  {float: right; background: $link_color; color: $main_background_color; padding: .6em 1em; font-size: .9em; margin-bottom: 1.5em;}

.banner {background-color: $gold; clear: both; text-align: center;
			img {max-width: 340px; }
 }
 
 
 .features {clear: both; background: #fff;
	 h1, h2 {text-align: center;}
 }
 
 
 .course-block {border: $border_line; padding: 1em; margin: 1em 0;
	 h1 {font-size: 1.5em; margin: 0; text-align: left;}
	 h3 {font-size: 1em; font-weight: normal; margin: .5em 0; color: $gray;}
	 p {margin: 0; /*font-family: $text_font;*/}
 }
 
 
.search {clear: both; text-align: center; padding:  2em; 
	//border-top: $border_line; border-bottom: $border_line; 
	background: $off_white; } 



.search-input, .search-refine {width: 100%; font-size: 1em;    padding: 1em ;  border: $border_line; 
	background: #fff;
}

.search-input {	background: #fff url(img/magnifying_glass.svg) no-repeat right center; text-align: center;}


.search-refine {color: $gray; margin: .5em auto; display: block;}



.icon { padding: .5em 2em; border-top: $border_line; font-size: 1.2em; 
	img {width: 60px; padding-right: .5em;}
}

footer {margin: 2em 0;
	h1 {margin-bottom: 1em;}
}

 
//.first {border-top: $border_line;}

/*
.number {  padding: 1em 2em; 
	span {font-size: 3em; line-height: 1;}
	p {line-height: 1.1; margin: 0; color: $gray;}
}	



.number-wrap {border-bottom: $border_line; }
*/

aside {background-color: $off_white; padding: 2em 0;
	img {width: 180px; padding: .5em 0; }
}


.school-wrap a {display: block;}
h1, h2 {line-height: 1.2; font-weight: $normal_weight;}

aside h1 {font-size: 2em;}
footer h1 {font-size: 1.5em; text-align: center;}

.copyright { padding-top: 2em ; font-size: .9em; }


/*
nav {
width: 100%;
column-count: 2;
column-width: 30%;
column-gap: 2em;
}
*/

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	}
	
.nav-group {width: 40%;
	h2 {font-size: 1.2em; margin-bottom: .5em; color: $gray;}
}



/* ------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 50em) {	



.search-input{ max-width:40em;  margin:auto; }

//.search-refine {max-width:25em; }

.banner  img {max-width: 1100px; }



.icon-wrap, .school-wrap, .course-wrap, .refine-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	}
	
main h1 {font-size: 3em;}	

main h1, aside h1, aside h2 {text-align: center;}

.icon {width: 10%; text-align: center; border: none; font-size: .9em; margin-bottom: 2em;
	img {display: block; margin: auto; padding-bottom: 1em;}
}

//main {border-bottom: $border_line;}
.school-wrap a {width: 10%; text-align: center;}


aside {text-align: center;
img {width: 100px;}
}

/*
nav {
column-count: 4;
column-width: 25%;
}
*/

.nav-group {width: 30%; }

.copyright {text-align: center;}

.features {text-align: left; }

.course-block {width: 40%; margin: 1em auto;}

.search-refine {width: 40%; margin: .5em auto;}


		
}/*Close media*/




/* ------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 80em) {	
	.nav-group {width: 15%; }


aside img {width: 150px;  }


.icon img {width: 100px;}

.course-block {width: 30%; }
.search-refine {width: 30%; }

.search h1 {font-size: 4em;}

}/*Close media*/















