/* Donny Truong Portfolio */

body { 
	background-color:#fff;
	color:#222; 
	font: 100%/1.6 'Raleway', 'Helvetica Neue', Helvetica , Arial, sans-serif;
	font-weight:300;
	margin:0 auto; 
	padding: 0 1em; 
	text-align: left;  
	}


/* Styling links*/
a { 
	color: #ee2418; 
	text-decoration:none; 
	transition: all .5s ease;
	}
a:visited { 
	color: #ee2418; 
	}

a:hover { 
	color: #000; 
	}


/* Making images responsive */
img {
	border: 1px solid #f1f1f1; 
	height: auto; 
	margin-top: 1em;
	width: 100%; 
	}


h1, h2, h3 {
	font-weight: 900;  
	margin:0;
	padding:0;
	}

h1 {
	font-size: 1.875em; /*30px*/ 
	margin-top: .5em;
	text-transform: uppercase; 
}

a h3, 
a:visited h3,
h1 a, 
h1 a:visited {
	color: #444;
	}

a:hover h3,
h1 a:hover {
	color: #ee2418;
	}

h2 {
	font-size: 2.5em; /*40px*/
	line-height:1.1;  
	}

h3 {
	font-size: 1.25em; /* 20px*/
	margin: 1.5em 0 0 0;
	line-height:1;	
	}

.work p {
	border-bottom: 2px solid #444;  
	margin-bottom: 3em; 
	padding-bottom: 4em;
		 }

.work p:last-child {
	border:none; 
	margin: 0;
	padding: 0; 
	}


ul { 
	margin: 0;
	}

ul li li {
	margin: 0 0 0 1em;}


.more-info ul,
nav ul { 
	list-style: none; 
	padding: 0; 
	margin: 0 ; 
	}


.main-nav {
	border-bottom: 3px solid #444; 
	font-weight: 900;
	margin: 1em 0 2em 0; 
	padding: 0 0 2em 0; 
	}
	
.main-nav li { 
	display: inline; 
	letter-spacing: .1em;
	padding: 0 2em 0 0; 
	text-transform: uppercase;  
	}
	
.main-nav li a {
	color:#444;
	}

.main-nav li a:hover, 
.main-nav li.active a {
	color:#ee2418; 
	}

.main-content {
	padding-bottom: 1em;
	}

.footer-info,
.more-info {
	border-top: 1px solid #000; 
	font-size: 0.875em; /*14px*/
	margin: 1em 0; 
	padding: 1em 0 0 0; 
	}	       


   
	          
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 40em) /*640px*/ {

body {
	max-width:58.75em; /*940px*/
	}	


.banner {
	border-bottom: 3px solid #444;
	margin-bottom: 2em; 
	padding-bottom: 1em;
	width: 100%; 
	}

h1 {
	font-size: 2.313em; /*37px*/
	}


h2 {
	font-size: 6.25em; /*100px*/ 
	line-height: 1.15;
	margin-bottom:.2em; 
	}
	
h3 {
	font-size: 2.500em; /*40px*/	
	}	

.main-nav {  
	border:none; 
	float: left;
	margin: 1em 0 0 0;
	padding: 0;
	width: 15%; /* 140px/940px*/
	} 
	
.main-nav li { 
	display: block;  
	margin: 0 0 .3em 0;  
	padding: 0;
	}


.main-content {
	float: right; 
	margin:0;
	width: 83%; /*780px/940px*/
	}


.wrap  { 
	border-top: 3px solid #444; 
	float: left; 
	margin-top: 2em;
	width: 100%;
	}

.more-info {
	border: none;
	float: right; 	
	} 

.more-info li {
	display: inline; 
	padding: 0 0 0 2em;
	}

.footer-info {
	border: none;
	float: left; 
	}
	
	
} /*close media query*/




/* ------------------------------------------------------------------------------------------------------------------------------------------- */
@media print {

body { 
	width: 100%;
	margin: 0; 
	padding: 1em;  
	font-size: 12pt; 
	line-height: 1.5; } 

h1, h2, h3 { 
	font-size: 14pt;
	}

/* links */ 
a:link, 
a:visited { 
	color: #333; 
	text-decoration: none; 
	} 

/* hide */ 
.main-nav, 
.more-info {
	display: none;
	} 

}  /*close media query*/





